@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.Card-img{
  border-radius: 80px;
  width: 125px;
  height: auto;
}

.Card-text{
  font-family: 'Monserrat', sans-serif;
  margin-right: 2px;
}

.Card{
  display: flex;
  margin-bottom: 2%;
}
